{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://aoc.csed22.com/">
  <meta property="og:title" content="AOC - Online Compiler">
  <meta property="og:description" content="Author: Mohamed Ayman">
  <meta property="og:image" content="https://csed22.com/aoc/assets/Entrance.png">
  <meta property="og:image:width" content="1526">
  <meta property="og:image:height" content="792">

  <link rel="canonical" href="https://aoc.csed22.com/">
  <link rel="icon" type="image/png" href="https://csed22.com/aoc/assets/favicon.png">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AOC Online Compiler</title>
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'ace-builds/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'ace-builds/src/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>

  <script src="{% static 'js/my_js.js' %}" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}" />
</head>

<body onload="injectCode()">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="color:#fff;" class="navbar-brand" href="#">AOC Online Compiler</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </nav>

  <div id="ide" class="container">

    <div id="topbar">

      <table style="width:100%">
        <tr>

          <td>
            <div class="lang-choose">
              <select class="form-control" name="lang" id="lang">
                <option value="C">C </option>
                <option value="CPP" selected>C++</option>
                <option value="JAVA">Java </option>
                <option value="Python">Python </option>
              </select>
            </div>
          </td>

          <td>
            <a class="" id="download"><img src="https://csed22.com/aoc/assets/download.png" width="32" height="32"></a>
          </td>

          <td>
            <div id="settings">
              <div class="theme-choose">
                <select class="form-control" name="theme" id="theme">
                  <option value="Monokai" selected>Monokai</option>
                  <option value="Twilight">Twilight</option>
                  <option value="Light">Light</option>
                  <option value="Solarised Light">Solarised Light</option>
                </select>
              </div>
            </div>
          </td>

        </tr>
      </table>
    </div>

    <pre id="editor"></pre>

    <table style="width:100%">

      <tr>
        <td>
          <div class="form-check row">
            <input type="checkbox" class="form-check-input" id="CheckInput"> Show Input</input>
          </div>
        </td>

        <td style="padding-top: 5px;">
          <div class="row">
            <div id="showres">
              <div style="text-align: right;" class="run-save-panel">
                <button class="btn btn-success" id="runcode" data-toggle="tooltip" data-placement="top"
                  title="Compile Code">Run</button>
              </div>
            </div>
          </div>
        </td>
      </tr>

    </table>

    <div class="form-group" id="inputonly">
      <label for="exampleFormControlTextarea1">Input</label>
      <textarea class="form-control" id="inputarea" name="inputArea" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Output</label>
      <textarea disabled class="form-control" id="output" name="outputArea" rows="5"></textarea>
    </div>

    <script>

      // https://www.sitepoint.com/get-url-parameters-with-javascript/
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);

      function injectCode() {
        if (urlParams.has('lang') && urlParams.has('code')) {

          const lang = urlParams.get('lang')
          var code = urlParams.get('code')

          // https://ace.c9.io/#nav=embedding
          var editor = ace.edit("editor");

          if (urlParams.has('light')) {
            select('theme', 'Light');
            editor.setTheme("ace/theme/dawn");
            document.body.style.color = "#FBFBFB";
            document.body.style.backgroundColor = "#FBFBFB";
            document.getElementById("ide").style.maxWidth = "800px";
          }

          // https://stackoverflow.com/a/23612498
          var langSelector = document.getElementById("lang");
          // Create a new 'change' event
          var event = new Event('change');

          switch (lang) {
            case "c":
              select('lang', 'C');
              editor.session.setMode("ace/mode/c_cpp");
              break;
            case "c++":
            case "cpp":
              select('lang', 'CPP');
              editor.session.setMode("ace/mode/c_cpp");
              break;
            case "j":
            case "java":
              select('lang', 'JAVA');
              editor.session.setMode("ace/mode/java");
              break;
            case "py":
            case "python":
              select('lang', 'Python');
              editor.session.setMode("ace/mode/python");
              break;
          }

          // Dispatch it.
          langSelector.dispatchEvent(event);

          code = code.split('\0').join('\n');
          editor.session.setValue(code.toString());

        }
      }

      // https://thisinterestsme.com/change-select-option-javascript/#:~:text=The%20unique%20ID%20of%20our,out%20of%20the%20for%20loop.
      function select(selectId, optionValToSelect) {
        //Get the select element by it's unique ID.
        var selectElement = document.getElementById(selectId);
        //Get the options.
        var selectOptions = selectElement.options;
        //Loop through these options using a for loop.
        for (var opt, j = 0; opt = selectOptions[j]; j++) {
          //If the option of value is equal to the option we want to select.
          if (opt.value == optionValToSelect) {
            //Select the option and break out of the for loop.
            selectElement.selectedIndex = j;
            break;
          }
        }
      }

    </script>

</body>

</html>